logs/
target/
!**/connector/target
nbproject/
node_modules/
.idea/
.sts4-cache/
/frontend/app/
/frontend/coverage/
/frontend/dist/
/frontend/nbproject/private/
/frontend/node/
/frontend/node_modules/
/frontend/typedoc/
/frontend/sassdoc/
/frontend/debug.log
/frontend/package-lock.json
/frontend/sassdoc-data.json
/frontend/yarn.lock
nbactions.tmp
**/*.iml
.classpath
.factorypath
docker/docker-compose.yml
docker/exasol/create_virtual_schema.sql
k8s/Jenkinsfile
backend/target/*
derby.log
.settings
.vscode
.project
frontend/.editorconfig
backend/.settings
backend/.project
